.navbar-logo{
    color: black;
    justify-self: center;
    font-size: 500;
    justify-content: center;
    font-family: 'lobster', sans-serif;
    
}

.logo{
    align-items: center;
    text-align: center;
}